GPATH
GRTAGS
GTAGS
*~
\#*
*.swp
*.bak
*.zip
*.org
url/*
.cache/*
auto-save-list/*
\.scratch-log*
scratch-log*
history
.emacs-places
.historian
smex-items
init.el.last-load
init.el.err
var/*
.tutor-ja/*
.my-save-frame
network-security.data
*.last-load
/packages/archives/
recentf
kkcrc
bookmarks
tutorial
.check-emacs-setting/last-load/*
.check-emacs-setting/log.txt
\.check-emacs-setting/batch-script\.el
*.elc
eln-cache/*
projectile-bookmarks.eld
.lsp-session-*
.dap-breakpoints
transient/*
semanticdb/*
session*
.emacs.desktop
.emacs.desktop.lock
tree-sitter/*
packages/vterm-*/build/
